.title2 h2 {
  color: #607900;
  border-left: 7px solid #819900;
  background: #e9efc2;
  background-size: cover;
  text-align: center;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.description {
  text-align: left;}

#user_research h4 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  background-color: transparent;
  color: #000;
  font-weight: 600;
  border-left: 5px solid #a4b248;
  padding: 20px;
}

.pic-padding h1 {
  font-size: 20px;
  color: #4e4351;
  font-family: Montserrat;
  font-weight: 500;
  border-left: 7px solid #a4b248;
  padding: 20px;
}

.title1 {
  padding-bottom: 20px;
}

.title1 h2 {
  color: #819900;
  background-color: transparent;
  border-bottom: 7px solid black;
  padding: 0 10px 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#user-Synthesis h2 {
  color: #819900;
  background-color: transparent;
  text-align: left;
}

.health-savvy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roles_Responsibilities {
padding: 15px;
  background-size: cover;
  background: #e9efc2;
}

.col-roles-Responsibilities h4 {
  text-align: left;
  font-weight: 600;
  color: #607900;
}
.prototype{
  display: flex;
  align-items: center;
  justify-content: center;

}
.prototype{
  width:70%;
}


@media only screen and (min-width: 790px) {
  .col-mockups3 {
    width: 33.33%;
  }

  .col-roles-Responsibilities {
    width: 33.33%;
    text-align: left;
    padding-left: 0;
  }

  .project-details {
    padding-bottom: 30px;
  }

  .roles_Responsibilities {
    padding-left: 80px;
    background-size: cover;
    background: #e9efc2;
  }

  .col-mockups2 {
    width: 400px;
    animation-delay: 2s;
  }

  .mockups h3 {
    text-align: center;
    font-weight: 500;
    color: #ff7300;
  }
}

/* ==============================
small devices (300px and larger)
================================= */
@media only screen and (max-width: 780px) {
  .col-mockups2 {
    width: 100%;
  }

  .col-mockups3 {
    width: 100%;
  }

  .description {
    text-align: left;
  }

  .mockups h3 {
    text-align: center;
    font-weight: 500;
    color: #ff7300;
    background-color: transparent;
  }
}

@media only screen and (min-width: 760px) {
  .pic-padding {
    margin-bottom: 50px;
  }

  .description {
    text-align: left;
    padding-left: 100px;
    float: none;
  }

  .italic-title {
    float: left;
  }

  .title-research {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row-mockups2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
