.header-text {
  background: black;
  border-radius: 30px;

  text-align: center;
}

.header-text-inside {
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid #FFB500;
  transform: translate(7px, 7px);
}

.header-text h2 {

font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  color: #FFB500;
  text-align: center;
  letter-spacing: 9.3px;
  font-size: 18px;
}

.container {
  padding-top: 20px;
}

.pic {
  padding: 20px 10px;
}

.container p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.body h2 {
  font-family: 'Exo 2', sans-serif;
  color: #FFB500;
  text-align: center;
}
.body h4{
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  color: #461900;;
  text-align: left;
}

.pic h2 {
  color: #461900;
  text-align: center;
}

.body h3 {
  padding-top: 30px;
  color: #FFB500;
  font-style: italic;
  font-weight: bold;
  text-decoration: overline;
}
blockquote {

    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
color:#FFB500;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
color:#FFB500;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
table {

  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #FFECBD;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFFAED;
}

/* ==============================
small devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  .header-text h2 {
    font-size: 2em;
  }
  .pic {
    padding: 30px 10px;
  }

}
