/*
Colors used:
Primary Color (Purple): #720B98;
Secondary Color (Mortar): #4E4351;
Highlight Color (TuTu): #FFEDFF
Base White (White): #FFFFFF
Base Black (Black): #000000
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}

main {
  padding-top: 80px;
}

header {
  text-align: unset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .2);
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #504252;
}

footer {
  text-align: center;
  padding: 12px 0;
  margin: 12px;
}

.border {
  border-top: 1px solid rgba(125, 0, 158, .5);
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home {
  background-color: #ffffff;
  padding: 10px 0;
}

.hero {
  padding-bottom: 20px;
}
/*.section{
  height: 670px;
}*/

#hero h3 {
  color: White;
}

#hero h2 {
  color: White;
  text-align: center;
  padding-top: 50px;
}

.description {
  font-family: Montserrat;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

.center {
  text-align: center;
}

.container {
  max-width: 1200px;
  text-align: left;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(125, 0, 158, .2);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

nav>ul>li>a {
  padding: 0 6px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #720B98;
}

nav>ul>li>a:visited {
  color: #720B98;
  border-bottom: 3px solid #720B98;
}

nav>ul>li>a:hover {
  color: #720B98;
}

nav>ul>li>a:active {
  color: #4E4351;

}

nav {
  width: auto;
  float: right;
  padding-right: 135px;
  margin-top: 4px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  margin-top: 0;
  font-size: 20px;
  margin-right: 15px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  border-top: 1px solid rgba(114, 11, 152, .2);
}

.menuitems:hover::after {
  width: 100%;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  margin: 1 em 0;
}

#work .pic {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#work .pic {
  transition: 1s ease;
}
/* hover effect*/
#work .pic:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.cols-skills:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.cols-tools:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.cols-others:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.col-md-6 h4 {
  color: #720B98;
  padding-top: 0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.00em;
  font-weight: 600;
}

h3 {
  font-size: 1.33em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 16px;
}

#work h3 {
  color: #720B98;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
  max-width: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

#work h3 span {
  border-bottom: 6px solid #4E4351;
  padding: 0 10px 10px;
}

#work h4 {
  font-size: 1.5em;
  color: #720B98;
  border-left: solid 6px #720B98;
  border-radius: 30px;
  letter-spacing: 2px;
  padding: 10px;
  background-color: rgba(114, 11, 152, .1)
}

img {
  width: 100%;
}

img.auto {
  width: auto;
}

#logo {
  width: 49px;
  height: 32px;
  margin-top: 20px;
  margin-left: 15px;
}


a {
  color: #720B98;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #720B98;
}

a:hover,
a:focus {
  color: #720B98;
  border-bottom: 3px solid #720B98;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #720B98;
  border-bottom: 3px solid #720B98;
}

.project_overview {
  border-bottom: 8px solid Blacktext-align: center;
  padding-bottom: 10px:
}

.picture {
  padding-top: 60px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #720B98;
  border-radius: 25px;
  padding: 10px 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  transition-duration: .4s;
}

.button:hover,
.button:focus {
  background-color: #720B98;
  /* Green */
  /*color: white;
  animation: bounce 4s;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}*/

.button{

  top: 50%;
  left: 50%;
  transform: translate(0%,0%);
}

.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #720B98;
  border-radius: 25px;
  padding: 10px 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  transition: all .35s;
}

.button:before,
.button:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #720B98;
  z-index: -1;
  transition: all .35s;
}

.button:before{
  opacity: .5;
}

.button:after{
  transition-delay: .2s;
}

.button:hover{
  color: #fff;
}

.button:hover:before,
.button:hover:after{
  top: 0;
}

.button1 {
  margin-top: 50px;
  color: white;
  display: inline-block;
  background-color: #720B98;
  border: none;
  border-radius: 25px;
  padding: 10px 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  transition-duration: 0.4s;
  transition-property: opacity;
}

.button1:hover {
  animation: bounce 1s;
  opacity: .8;
}

.resume {
  text-align: center;
}

.social {
  padding: 40px 0;
}

.social {
  padding: 40px 0;
}

#about h3 {
  color: #720B98;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about h3 span {
  border-bottom: 5px solid #4E4351;
  padding top: 15px;
}

.row-skills ul {
  list-style-type: none;
  padding-left: 0;
}

.cols-skills, .cols-tools, .cols-others {
  border-radius: 43px;
  border: 1px solid #720B98;
  text-align: center;
  margin: 0 20px 100px;
}

.row-skills .cols-icon {
  width: 150px;
  height: auto;
  margin-top: -70px;
}

.cols-skills {
  border-color: #720B98;
}

.cols-tools {
  border-color: #3798A4;
}

.cols-others {
  border-color: #E9A70E;
}

#sk h3 {
  color: #720B98;
  font-weight: 500;
  text-align: center;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

#sk h3 span {
  border-bottom: 5px solid #4E4351;
  padding-bottom: 10px;
}

.row-vertical-centered {
  margin-bottom: 80px;
}

.pic-padding {
  padding-bottom: 50px;
}

.pic-padding1 {
  padding-top: 80px;
  padding-bottom: 50px;
}
/*background Animation*/
#hero {
  background: linear-gradient(90deg, #7D009E, #Fffff8);
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

#hero::before {
  content: '';
position: absolute;

  border-top: 100vh solid transparent;
  border-left: 100vh solid #fff;
  opacity: 0.1;
}

#hero::after {
  content: '';
position: absolute;
  bottom: 0;
  right: 0;
  border-top: 100vh solid transparent;
  border-right: 100vh solid #Fffff8;
  opacity: 0.1;
}


/* Animtion Css*/







/* ==============================
small devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  main {
    padding-top: 100px;
  }
  #hero h2 {
    font-size: 2.5em;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  #hero{
    height:700px;
  }

  #logo {
    width: 82px;
    height: 53px;
    padding: 0 10px;``
    margin-left: 135px;
  }

  #work h4 {
    margin-top: 0;
  }

  nav {
    width: auto;
    float: right margin-top: 10px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }

  [class*="col-"] {
    float: left;
    padding: 25px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-persona {
    width: 50%;
  }

  .row-vertical-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row-hero {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-padding {
    padding-bottom: 100px;
  }

  .pic-padding1 {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  /*scroll mouse icon animation*/

  .mouse-icon {
  border: 2px solid #ffffff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #ffffff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
}

/* ==============================
MediumISH devices (900px and larger)
================================= */
@media only screen and (min-width: 900px) {
  .row-skills {
    text-align: center;
  }

  .cols-skills, .cols-tools, .cols-others {
    width: 250px;
    display: inline-block;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-8 {
    width: 60%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-4 {
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1200px) {}

/*================================
CSS Animation
======================================*/
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 10s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
